@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-animated {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-animated::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #3b82f6; /* Tailwind blue-700 */
  z-index: -1;
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 20%;
}

.btn-animated:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.btn-animated:hover {
  color: #f3f4f6; /* Tailwind gray-100 */
}
.footer-part {
  position: relative;
 
  margin-top: -30px;
}

@media screen and (max-width: 400px) {
  .footer-part {
    font-size: 12px;
  }
}
